<!DOCTYPE html>
<html>
<head>
  <title>Moon Lander</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <%= yield :head if content_for? :head %>

  <script type="text/javascript">

    $(document).ready(function() {

      $(".play").on("click", function() {
        $(".intro, .won, .lost").hide();
        var stats = new Stats();
        stats.domElement.style.position = "fixed";
        stats.domElement.style.top  = "0px";
        stats.domElement.style["z-index"] = "100";
        $("body").append(stats.domElement);

        var rendererType = (ML.Utils.hasWebgl() && !ML.Utils.isIpad()) ? "webgl" : "canvas";
        var player = new ML.Player();
        player.loadModel(function() {
          var world = new ML.World(".viewer", rendererType, player, stats);
          world.render();
        });
      });
    })
  </script>
</head>
<body>

  <div class="viewer"></div>

  <div class="intro">
    <h1 class="brand">
      Rocket Bob
    </h1>
    <hr/>

    <div class="won">You won ~!</div>
    <div class="lost">You lost ~!</div>

    <div class="tagline">
      Use the A,S,W,D buttons to navigate the rocket through space debris. Use the Q and E keys to rotate the rocket to land.
    </div>
    <div class="action-buttons">
      <a href="#" class="play">Play the game</a>
    </div>
    <div class="credits">
      <a href="http://twitter.com/rasagy">Rasagy</a>, <a href="http://twitter.com/plmrc">Paulaumi</a> and <a href="http://twitter.com/HashNuke">Akash Manohar</a>
    </div>
  </div>

</body>
</html>
